.idea
.idea_modules
project/project
target/
.DS_Store
._.DS_Store
*.log
.settings
.project
.classpath
.cache
*.zip
src/data/croevss/src/main/resources/*_pq
*.sublime-project
*.sublime-workspace
/data/
*.pyc
*.csv
