*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
target
target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history

# Mac
.DS_Store

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# space-specific
output/
src/manuscript/root.pdf
src/manuscript/root.pdf
target/.history
.Rproj.user
